[
 {
   elvis,
   [
    {config,
     [#{dirs    => ["src"], % ["src", "test"],
        filter  => "*.erl",
        rules   => [
                    {elvis_style, operator_spaces,
                     %% Notably, exclude {right, ","}, mostly for elli_http.erl.
                     #{rules => [{right, "++"}, {left, "++"}]}},
                    {elvis_style, line_length,
                     #{limit => 80, skip_comments => true}},
                    {elvis_style, invalid_dynamic_call,
                     #{ignore => [
                                  elli,
                                  elli_http,
                                  elli_middleware,
                                  elli_test
                                 ]}}
                   ],
        ruleset => erl_files
       },
      #{dirs    => ["."],
        filter  => "Makefile",
        ruleset => makefiles
       },
      #{dirs    => ["."],
        filter  => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs    => ["."],
        filter  => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
