{erl_opts, [debug_info, {i, "include"}]}.

{erl_first_files, ["src/elli_handler.erl"]}.

{deps, []}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls,locals_not_used]}.

{profiles, [
  {docs, [
    {deps,      [{edown, "0.8.1"}]},
    {edoc_opts, [{doclet, edown_doclet}, {private, true}]}
  ]}
]}.

{project_plugins, [
  {rebar3_lint,
   {git, "git://github.com/project-fifo/rebar3_lint.git",
    {tag, "0.1.6"}}}
]}.
