{erl_opts, [debug_info, {i, "include"}]}.

{erl_first_files, ["src/elli_handler.erl"]}.

{deps, []}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls,locals_not_used]}.

{profiles, [
  {docs, [
    {deps,      [{edown, "0.8.1"}]},
    {edoc_opts, [
      {def, [
        {'EXAMPLE_CONF',"[{callback,elli_example_callback},{callback_args,[]}]"}
      ]},
      {doclet, edown_doclet}]}
  ]}
]}.
